@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Rajdhani:wght@300&display=swap');

body{
  background-color: black;
}
h1{
  color: white;
}
.container{
  margin: auto;
  text-align: center;
  border: 2px solid white;
  width: 30%;
  height: 50vw;
  border-radius: 5%;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #002244;
}

.container h1{
  font-family: 'Heebo', sans-serif;
  font-size: 2vw;
}

#calc-body-container{	
  justify-content: space-around;
  align-items: center;
  width:100%;
  display: grid;
  grid-template-columns : auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}
button{
   font-family: 'Rajdhani', sans-serif;
   transition: all 0.2s ease-in-out;
   width: 4vw;
   border-radius: 100%;
   color: white;
   font-weight: bold;
   font-size: 1.6vw;
   height: 4vw;
   border: 0px;
   background-color: white;
   color: black;
   margin : 1vw 0vw 0vw 0vw;
}

button:hover{
  background-color: rgba(230, 230, 230, 0.897);
  color: rgb(3, 3, 3);
}

input {
  font-family: 'Rajdhani', sans-serif;
  width: 95%;
  height: 15vw;
  color: white;
  font-size: 4vw;
  text-align: end;
  border-bottom : 1px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: black;
  background-color: whitesmoke;
}


.advance {
  width:60%;
  height: 4vw;
  background-color: white;
  border: 0px;
  border-radius : 0%;
}
.o_btn{
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: orange;
}

.o_btn:hover{
  background-color: rgb(253, 175, 29);
}

#advance-container{
  width: 100%;
  height: 10vw;
  transition: all 0.5s ease-in;
}


@media screen and (max-width:884px){
  .container{
    margin-top: 20vw;
    width: 50vw;
    height: 100vw;
  }

  button{
    width: 8vw;
    height: 8vw;
    font-size: 2.6vw;
  }
}
